__pycache__/
.idea/
.vscode/

dsacstar/build/
dsacstar/dist/
dsacstar/dsacstar.egg-info/

# Dataset files.
data/7scenes*
data/mip360*
data/t2*
data/wayspots*
data/12scenes*
data/Cambridge*
data/aachen*
split_files/

# Outputs.
results_*/
